viesti{
    display: block;
    margin: 10px;
    padding: 3px;
    border: 2px dotted black;
}
nimi{
    display: block;
    margin: 10px;
    padding: 3px;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
}
ohjaaja{
    display: block;
    margin: 10px;
    padding: 3px;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
}

vuosi{
    display: block;
    margin: 10px;
    padding: 3px;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
}
genre{
    display: block;
    margin: 10px;
    padding: 3px;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
}
ika{
    display: block;
    margin: 10px;
    padding: 3px;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
}
yms{
    display: block;
    margin: 10px;
    padding: 3px;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
}